*{
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

img{
    display: flex;
    position: absolute;
}
#img3{position: absolute;
    top: 60%;
}
#img2{position: absolute;
    top: 20%;
    right: 0px;
}
.main-content{
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    top: 25vh;
}
.main-content h1{
    display: inline;
    text-align: center;
    width: 100%;
    
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 70px;

/* background-color: aqua; */
}
.main-content h2{
    display: block;
    width: 36%;
    margin-left: 30%;
    text-align: center;
    
    font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 20px;


/* background-color: red; */

}
.main-content .box{
    display: inline-block;
    position: relative;
    top: 10px;
    padding: 10px 10px 10px 10px;
    align-self: center;
    height: 33vh;
    width: 40%;
    background: rgba(54, 135, 255, 0.21);
border-radius: 20px;
position: relative;
}
.main-content .box h3{
    font-family: 'Inter';
    position: relative;
    left: -50px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
text-align: center
}
.main-content .box input{
    position: relative;
    display: inline;
    height: 30px;
    width: 300px;
    left: -20px;
    background: #FBFBFB;
border: 0;
border-radius: 5px;
}
#prefix{
    width: 50px;
    padding-left: 5px;
    left:%;
}
#number{
    left: %;
    width: 250px;
}

.main-content .box button{
    position: relative;
    display: block;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 300px;
    border: 0;
    height: 50px;
    color: #fbfbfb;
background: #0F0F0F;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 36px;
text-align: center;
transition: 0.5s;
cursor: pointer;
}
.main-content .box button:hover{
    color: #0F0F0F;
    background: #fbfbfb;
    transition: 0.5s;
}